.services {

}
.services__title {
  text-align: center;
  font-size: 40px;

}
.service__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 5%;

  @include tablets{
    margin-left: 5%;
  }

  @include phones{
    margin-left: 5%;
  }

}
.service__item {
  font-size: 0;
  padding: 14px;
  position: relative;
  margin-bottom: 35px;
  background: white;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  min-height: 380px;

  @include phones{
    min-height: 400px;
  }
}
.service__title {
     display: inline-block;
  font-size: 40px;
  font-family: CricketC;
  color: #c58ca0;
  margin-left: 3%;
  margin-bottom: -13px;


  @include desktop{
    font-size: 38px;
  }

  @include phones{
    margin-bottom: 0;
  }

}
.service__zone {
  color: #441430;
      display: inline-block;
  font-size: 40px;
  margin-left: 2%;


  @include desktop{
    font-size: 32px;
  }
}


.service__descr {
  margin: 0 3% 0 3%;
  font-family : Roboto;
  font-size : 14px;
  color : #4A4A4A;
  margin-bottom: 110px;

  @include phones{
    font-size: 12px;
  }
}

.service__time {
  position: absolute;
  font-family : Georgia;
  font-size : 21px;
  line-height : 14.95px;
  letter-spacing : 0.21px;
  color : #441730;
  bottom: 100px;
  left: 6%;

  @include phones{
    font-size: 18px;
  }

  & span{
    font-size: 20px;

    @include phones{
      font-size: 14px;
    }
  }

}
.service__price {
  position: absolute;
  right: 14px;
  bottom: 95px;
  font-size: 40px;
  font-family : Georgia;
  line-height : 43.12px;
  letter-spacing : 0.43px;
  color : #C58CA0;

  & span{
    font-family : Georgia;
    line-height : 16.45px;
    letter-spacing : 0.16px;
    color : #C58CA0;
    font-size: 26px;

    @include phones{
      font-size: 18px;
    }

  }

  @include desktop{
    font-size: 35px;
  }

  @include phones{
    font-size: 28px;
  }

}
.market__button-price {
  position: absolute;
  padding: 0 5%;
  font-size: 24px;

}